html, body {
  margin: 0;
  height: 100%;
}

.layout {
  display: flex;
  height: 100vh; /* 画面いっぱい */
}

.sidebar {
  width: 240px;
  background: #f8f9fa;
}

.content {
  flex: 1;
  height: 100%;
  overflow: hidden; /* 外側スクロール禁止 */
}

.content iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.sidebar {
  display: flex;
  flex-direction: column; /* 縦並びにする */
}

.sidebar a {
  display: block;          /* 1行ずつ */
  padding: 8px;
  cursor: pointer;
}

details summary {
  cursor: pointer;
  padding: 8px;
}
details div {
  margin-left: 16px;
  padding: 6px;
}
