@font-face {
  font-family: "TsunagiGothic";
  src: url("./TsunagiGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "TsunagiGothic", sans-serif;
}
